@charset "UTF-8";
#R_wrap{
	width:1600px;
}
.R_buttons{
	display: flex;
	padding-left: 1000px;
	font-size: 15px;
}
.R_buttons a{
	margin-bottom: 30px;
	background-color: #F2F0E5;
	border: 1px solid #63625F;
	margin-left: 20px;
	height: 20px;
	font-size: 20px;
	padding: 5px;
	border-radius: 10px;
}

.R_ticketbox{
	width:1400px;
	margin:0 auto;
	border: 1px solid #D4D3C9;
}
.R_steps{
	display:flex;
	text-align: center;
	height: 500px;
	background-color: #F2F0E5;
}


.R_steps h2{
	background-color: #333333;
	color:#C4C4C4;
	height: 50px;
}
.R_sector_M{
	width:400px;
}

.R_sector_Mt{
	text-align: center;
}
.R_sector_Mn div{
	padding-top: 50px;
}


.R_sector_t{
	width:400px;
}
.R_sector_tt{
	text-align: center;
}
.R_sector_tl{
	display: flex;
    justify-content: space-evenly;
}
.R_sector_tl div{
	padding-top: 50px;
}

.R_sector_d{
	width:200px;
	
}
.R_sector_dt{
	text-align: center;
}
.R_sector_dm{
	padding-top: 30px;
}
.R_sector_dd{
	padding-top: 50px;
}
.R_sector_dd ul{
	padding-top: 50px;
}

.R_sector_w{
	width:400px;
	
}
.R_sector_wt{
	text-align: center;
}
.R_sector_ww div{
	padding-top: 50px;
	
}
.R_details{
	display:flex;
	width:1300px;
	margin:0 auto;
	background-color: #1D1D1C;	
	color:#CCCCCC;
	padding: 50px;
	text-align: center;
}
.R_details_n{
	width: 300px;
	font-size: 15px;
}
.R_details_t{
	width: 300px;
	font-size: 15px;
}
.R_details_s{
	width: 300px;
	font-size: 15px;
}
.R_details_p{
	width: 400px;
	font-size: 30px;
}