@charset "UTF-8";

/* *{border: 1px solid red;} */

.visitwrap{
	width : 800px;		/*구역 가로 사이즈*/
	margin : 0 auto;	/* 가운데 정렬	*/


}

.visit_Top{
	display: flex; /*하위 요소들의 가로배치*/
	flex-wrap: nowrap;
    justify-content: flex-end;
}

.visit_Inputs input{/* 상위 선택자명 하위 선택자명  */
	width : 100px;
	padding: 5px; /*안쪽 여백*/
	border: 1px solid #e8e8e8;
	
}
.visit_Side textarea{
	width : 100%;
	padding : 5px;
	border : 1px solid #e8e8e8;
	resize : none; /*사이즈 변경 불가*/
	
}

.visit_Side button{
	width: 80px;
	background-color: black;
	color: white;
	border: none;
	
}
.vcontent{
	height: 500px;
	font-family: 'Ansungtangmyun-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	
}


/*----------출력구역-----------*/

.visit_Bottom{
	margin : 30px 0px;
}
/* 방문록 1개 구역 */
.visitbox{
	display: flex;
	border : 1px solid #e8e8e8;
	padding-top : 10px; /* 안쪽여백 :테두리와 내용물 사이 */
	margin-top: 20px; /* 바깥여백 : 테두리와 바깥테두리 사이 */
	vertical-align: center;
}
/*작성일 표시 구역  */
.visitdate{font-size: 9px;}
/* 상단  */
.visitbox_top{width:20%;}
/* 내용물 */
.visitbox_center{width: 60%; margin : 0px 10px;}
/* 버튼구역 */
.visitbox_bottom{width:20%;}
.visitbox_bottom button{
	width:100%; background-color: black; color:white; border:none;
}




