@charset "UTF-8";
/* 공통 부문 */
*{ padding: 0px; margin: 0px; font-size: 12px;}

/* a 기본값 제거  */
a{ color: black; text-decoration: none;}
/* 글머리*/
li{ list-style-type: none;}
/* 웹폰트 */


/*--------------------------메인페이지-------------------------*/

.mainpage_top{
	display:flex;
	justify-content: center;
}

.mainpage_bottom{
	display:flex;
	justify-content: center;
}
.mainpage_bottom img {
	margin-right:  15px;
	margin-top: 50px;
}


/*-------------------메인페이지 내용-------------------  */
.mainpage_note{
	font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding: 100px 0px 50px 0px;
    justify-content: center;
}
.mainpage_note h3{
	font-family: 'Noto Serif','NanumGothic','Open Sans','PT Sans','malgun gothic','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 20px;}
.mainpage_note img{
	width:15px;
 }

/*-----------------메인페이지 제품들------------------- */
.mainpage_items{
	width:1200px;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	margin:0 auto;
	}
.mainpage_item{
	padding-bottom: 60px;
}
.mainpage_item img{
	width: 280px;
    }
.mainpage_item_name{
	border-bottom: 1px solid #f0f0f0;
	font-size: 12px;
	color:#7a7a7a;
	padding: 10px 0 8px 0;
    margin: 0 0 8px 0;
}    
.mainpage_item_description{
	font-size: 12px;
	color:#c3c3c3;
	padding: 1px 0;
}
.mainpage_item_price_p{
	font-size: 12px;
    color: #7a7a7a;
    text-decoration: line-through;	
}

.mainpage_item_price_last{
	font-size: 12px;
    color: #7a7a7a;
}
.mainpage_item_price_disc_h{
	font-size: 14px;
    color: #474a9b;
    font-weight: bold;
}    
.mainpage_item_icon{   
padding: 8px 0 0 0;
}
.mainpage_item_icon img{
	width: 50px; 
}
    
    
    