@charset "UTF-8";

/* 페이지 첫 설정 */
*{margin: 0 auto; padding: 0px;
	font-family: "맑은고딕"
}
/* a 태그 밑줄 없애기 */
a{
color:black;
text-decoration: none;
}

/* a태그 클릭해도 색깔 검정 */
a:visited{color: black;}

/* li태그 점 없애기 */
li{list-style-type: none;}


/* 로고중 THE 색깔, 굵게 */
.the{
	color: #2D62C0;
	font-weight: bold;
}
/* 로고중 스튜디오 글씨 굵게 */
.studio{font-weight: bold;}

/* 헤더 사이즈, 정렬방식 */
#haeder{
	width: 800px; 
	margin: 0 auto;
	display:flex;
	justify-content: space-between;
	margin-top: 20px;}

/* 헤더 오른쪽 메뉴 눕히기,폰트 사이즈 */	
.main_menu li{
	display: inline-block;
	margin-left: 25px;
}

.main_img_space{
	width: 1600px;
}
/* 메인 이미지 크기, 가운데 정렬 */
#main_img{
	width:1600px; height:600px;
	background-image: url("img/main.jpg");
	background-position: center;
	background-repeat:no-repeat;	
	margin: 30px 0px;
}

/* 본문 사이즈, 배치 방법 */
#content{
	width: 800px;
	margin: 0 auto;
	display: flex;
	margin-top: 20px;
}

/* 상단  본문 배치방법, 사이즈 */
.top_content{
	display:flex;
	width: 400px;
	padding-left: 10px;
}
/* 왼쪽본문 텍스트 위치 정렬 */
.top_text{margin-left: 40px;}

/* 왼쪽본문 텍스트 글자간 간격 */
.top_text li{margin-bottom: 10px;}

/* 왼쪽본문 텍스트 타이틀 굵기, 글자 크기 */
.t1{
	font-size:18px;
	font-weight: bold;
}
.top_text_content{
	font-size: 12px;
}
/* 하단 본문 뒷 배경 */
.under_c{
	width: 100%; height:250px;
	background-color: #F9F9F9;
	background-repeat:repeat;
	margin-top: 40px;
}

/* 하단 본문 내용 공간 */
.uc1{
	width:800px;
	display: flex;
	justify-content: center;
	padding-top: 40px;}

/* 하단 본문 내용 각각 공간과 배경 */
.uc1 div{
	width: 190px; height:190px;
	background-color: white;
	
}

/* 하단 본문 내용의 사진 크기 */
.uc1 img{width: 190px;}

.uc_t_h span{
	font-weight: bold;
}

.uc1_text {
	font-size: 13px;
}

.uc_t_h{
	margin-top: 5px;
	margin-left: 5px;
	padding-bottom: 10px;
}

/*---------------- 푸터 시작----------------*/
#footer{
 background-color: #292C32;
	width: 100%;
	margin-top: 20px;
	display: flex;
	padding-bottom: 40px;
}
/*------푸터 본문-------*/
.ft_context{
	width: 800px;
	display: flex;
	margin: 0 auto;
	padding-top: 30px;
}
.ft_call{
	font-size: 15px;
	padding-bottom: 10px;
}
/*------푸터 좌측배너-------*/
.ft_left{
	width: 200px;
	color:white;	
	font-size: 20px;
}
.ft_left h3{ color:#F4E4E4;}

/*------푸터 우측배너-------*/
.ft_right{width: 100px;
display:flex;}

/*------푸터 가운데배너-------*/
.ft_center{
	color:white;
	align-items: center;
	margin-right: 100px;
	margin-left: 100px;
}
.ft_top{
	margin-bottom: 20px;
	font-size: 11px;
}
.ft_bottom{margin-top: 10px;}
.ft_bot{ font-size: 11px;}
#footer a{color: white; text-decoration: none;}
.aline{font-size: 5px; color: #e8e8e8;}