@charset "UTF-8";
/* css 기본값 제거  */
*{padding: 0px; margin:0px;}/*기본 여백 제거*/
li{list-style-type: none;} /*글머리 제거  */
/*----------------스튜디오 예약 --------------- */
#reservation{
	width: 800px; height: 700px;
	display: flex;
	margin:0 auto;
	padding-top: 50px;
}
.re_schedule{
	width:600px; height:600px;
	text-align: center;
	background-color: #FCF9EA;
}
.re_schedule h5{ margin-top: 15px;
font-size: 13px;
font-weight: normal;}
.button_top{
	border: none;
	background-color: #FCF9EA;
	margin-bottom: 15px;
}
.re_date{
	width:500px; height:400px;
	padding-left: 22px;
}
.re_number{
	width: 520px; height:460px;
	border: 1px solid black;
	border-collapse : collapse;
	}
.re_number th{
	font-size: 10px;
	border-collapse : collapse;
	border-spacing : 0;
	height: 20px;
}
.re_number td{
	font-size: 8px;
	text-align: left;
	height: 60px;
	width:  80px;
	vertical-align: top;
}
.pay{margin-top: 40px;}
.rest_day{
	color:red;
}
.re_inf {padding-left: 20px;
		}
.re_inf li{
	list-style-type: inherit;}
.re_inf h5{
	border-left: 6px solid black;
	font-size: 20px;
	padding-left: 15px;
	margin-top: 15px;
}
.re_text{
	font-size: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 10px;
	
}
.re_text li{margin-bottom: 10px;}
.green_text{
	color:#2E9945;
	font-weight: bold;
	list-style-type: none;
	padding-right: 21px;
    margin-left: -19px;
}









/*---------------- 푸터 시작----------------*/
#footer{
 background-color: #292C32;
	width: 100%;
	margin-top: 20px;
	display: flex;
	padding-bottom: 40px;
}
/*------푸터 본문-------*/
.ft_context{
	width: 800px;
	display: flex;
	margin: 0 auto;
	padding-top: 30px;
}
.ft_call{
	font-size: 15px;
	padding-bottom: 10px;
}
/*------푸터 좌측배너-------*/
.ft_left{
	width: 200px;
	color:white;	
	font-size: 20px;
}
.ft_left h3{ color:#F4E4E4;}

/*------푸터 우측배너-------*/
.ft_right{width: 100px;
display:flex;}

/*------푸터 가운데배너-------*/
.ft_center{
	color:white;
	align-items: center;
	margin-right: 100px;
	margin-left: 100px;
}
.ft_top{
	margin-bottom: 20px;
	font-size: 11px;
}
.ft_bottom{margin-top: 10px;}
.ft_bot{ font-size: 11px;}
#footer a{color: white; text-decoration: none;}
.aline{font-size: 5px; color: #e8e8e8;}